<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Carousel Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--<link href="../assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Image gallery styles -->
    <!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="../assets/css/bootstrap-3.0.0.min.js">
    <!--<link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">-->
    <link rel="stylesheet" href="../assets/css/blueimp.min.css">

    <link href="../assets/css/combat-paintball.css" rel="stylesheet">
</head>
<!-- NAVBAR
================================================== -->
<body>

<nav class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <div class="navbar-logo">
                <a href="index.html" class="page-scroll"><img src="../assets/img/logo.png" width="140" height="38"/></a>
            </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse navbar-right navbar-main-collapse collapse" style="height: 1px;">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden active">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="about.html">About</a>
                </li>
                <li class="page-scroll">
                    <a href="contact.html">Contact</a>
                </li>
                <li class="page-scroll">
                    <a href="prices.html">Prices</a>
                </li>
                <li class="page-scroll">
                    <a href="gallery.html">Gallery</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container white-space">

    <h2 class="featurette-heading title">Combat paintball. <span class="text-muted">Gallery.</span></h2>

    <div id="links">
        <a href="../assets/img/gallery/originals/IMG_20140712_124917.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_124917.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_124950.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_124950.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_124957.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_124957.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_125012.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_125012.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_125030.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_125030.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_125045.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_125045.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_125107.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_125107.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_125155.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_125155.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_125248.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_125248.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_125255.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_125255.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_125357.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_125357.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_125511.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_125511.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_125550.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_125550.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_125643.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_125643.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_125710.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_125710.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_131917.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_131917.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_131919.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_131919.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_131931.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_131931.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_131955.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_131955.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_132018.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_132018.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_132049.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_132049.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_132104.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_132104.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_132235.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_132235.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_132249.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_132249.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_132304.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_132304.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_134755.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_134755.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_134828.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_134828.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_134847.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_134847.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_135041.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_135041.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_135220.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_135220.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_135225.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_135225.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_135254.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_135254.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_135314.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_135314.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_135320.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_135320.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_141533.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_141533.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_141554.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_141554.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_141617.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_141617.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_141639.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_141639.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_141700.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_141700.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_141708.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_141708.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_141726.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_141726.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_141859.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_141859.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_141938.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_141938.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_141957.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_141957.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_142058.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_142058.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_142141.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_142141.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_142151.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_142151.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_142217.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_142217.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_142228.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_142228.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_142332.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_142332.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_142343.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_142343.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_142358.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_142358.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_142409.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_142409.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_142525.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_142525.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_142623.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_142623.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_142856.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_142856.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_143601.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_143601.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_143939.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_143939.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_143951.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_143951.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_144037.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_144037.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_144209.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_144209.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/IMG_20140712_144246.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/IMG_20140712_144246.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/PANO_20140712_144002.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/PANO_20140712_144002.jpg" alt="Orange">
        </a>
        <a href="../assets/img/gallery/originals/player1.jpg" title="Orange" data-gallery>
            <img src="../assets/img/gallery/thumbnails/player1.jpg" alt="Orange">
        </a>
    </div>
</div>

<!--Image gallery-->
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--End of gallery-->

<!-- Bootstrap core JavaScript
================================================== -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
<script src="../assets/js/jquery-1.11.0.min.js"></script>
<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>-->
<script src="../assets/js/jquery-easing-1.3.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/docs.min.js"></script>
<script src="../assets/js/combatpaintball.js"></script>

<!--<script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>-->
<script src="../assets/js/blueimp.min.js"></script>
</body>
</html>
